body {
  margin: 0px;
  padding: 0px;
  background-color: skyblue;
}

.container {
  width: 100%;
  height: 100%;
}

.signUp_form {
  position: fixed;
  width: 400px;
  min-height: 350px; 
  padding: 50px 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #def9ff;
  border: 1px solid gray;
  border-radius: 5px;
}

.signUp_list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.signUp_list hr {
  border: 1px solid azure; 
  width: 80%; /
}

.name_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  font-size: small;
  font-weight: bold;
}

.name_input {
  width: 100%;
  background-color: #def9ff;
  border: 1px solid whitesmoke;
  margin-top: 5px;
}

.name_input:focus {
  border: 1px solid skyblue;
  outline: none;
}

.name_correct {
  color:green;
  font-size: small;
}

.name_error {
  color:red;
  font-size: small;
}

.email_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin-top: 10px;
  font-size: small;
  font-weight: bold;
}

.email_input{
  width: 100%;
  background-color: #def9ff;
  border: 1px solid whitesmoke;
  margin-top: 5px;
}

.email_input:focus {
  border: 1px solid skyblue;
  outline: none;
}

.email_correct {
  color:green;
  font-size: small;
}

.email_error {
  color:red;
  font-size: small;
}

.age_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin-top: 10px;
  font-size: small;
  font-weight: bold;
}

.age_input{
  width: 100%;
  background-color: #def9ff;
  border: 1px solid whitesmoke;
  margin-top: 5px;
}

.age_input:focus {
  border: 1px solid skyblue;
  outline: none;
}

.age_correct {
  color:green;
  font-size: small;
}

.age_error {
  color:red;
  font-size: small;
}

.password_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin-top: 10px;
  font-size: small;
  font-weight: bold;
}

.password_input {
  width: 100%;
  background-color: #def9ff;
  border: 1px solid whitesmoke;
  margin-top: 5px;
}

.password_input:focus {
  border: 1px solid skyblue;
  outline: none;
}

.password_correct {
  color:green;
  font-size: small;
}

.password_error {
  color:red;
  font-size: small;
}

.check_pw_box {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  margin-top: 10px;
  font-size: small;
  font-weight: bold;
}

.check_pw_input{
  width: 100%;
  background-color: #def9ff;
  border: 1px solid whitesmoke;
  margin-top: 5px;
}

.check_pw_input:focus {
  border: 1px solid skyblue;
  outline: none;
}

.checkPw_correct {
  color:green;
  font-size: small;
}

.checkPw_error {
  color:red;
  font-size: small;
}

.signUp_button {
  margin-top: 20px;
  width: 50%;
  height: 30px;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 320px;
  height: 150px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid gray;
  border-radius: 10px;
}

.modal-title {
  margin: 0px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
  text-align: center; 
  box-sizing: border-box;
}



.closebox {
  width: 43px;
  height: 23px;
}

#closeBtn {
  width: 100%;
  height: 100%;
}