body {
  font-family: sans-serif;
}

.modal_box {
  position: fixed;
  width: 320px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
}

.modal {
  background: white;
  padding: 24px 16px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.modal_title {
  margin-top: 0px;
}

#openButton {
  margin-top: 15px;
  width: auto; /* 버튼의 원래 너비를 사용 */
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.close_box {
  text-align: right;
}

#closeButton {
  width: auto; /* 버튼의 원래 너비를 사용 */
  max-width: 100%; /* 버튼의 최대 너비를 부모 요소의 100%로 제한 */
  border-radius: 5px;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
}
